 <div class="side-bar-header">
   <div class="user-name">
    <a href = #>田中</a>
  </div>

    <div class= "make-room">
      <a href= #>チャットを作成する</a>
    </div>
</div>

<div class="rooms">
  <div class = "room">
    <div class="room-name">
     <a href=#> testroom1</a>
    </div>
  </div>

   <div class = "room">
     <div class="room-name">
      <a href= #>testroom2</a>
    </div>
  </div>
</div>

